CREATE THE STRUCTURE OF THE DATABASE

In [1]:
# import packages
from sqlalchemy import create_engine
from psycopg2 import ( 
        connect
)

In [2]:
#open the configuration parameter from a txt file the table
myFile = open('dbConfig.txt')
connStr = myFile.readline()

FileNotFoundError: [Errno 2] No such file or directory: 'dbConfig.txt'

In [62]:
#create the structure of the database
commands = (
        
        #table for the registrantion of PA
        """ 
            CREATE TABLE pa_user(
                postal_code VARCHAR(5) PRIMARY KEY,
                municipality VARCHAR(255) NOT NULL,
                password VARCHAR(255) NOT NULL  
        )
        """,
        
        # table of the bin
        """ 
        CREATE TABLE bin(
                bin_id SERIAL PRIMARY KEY,
                bin_date TIMESTAMP DEFAULT NOW(),
                lat DOUBLE PRECISION NOT NULL,
                lon DOUBLE PRECISION NOT NULL,
                infographic BOOLEAN NOT NULL DEFAULT 'False',
                infographic_date TIMESTAMP DEFAULT NOW(),
                geom geometry(POINT)
        )
        """,
        """ 
            CREATE TABLE gardbage_collector(
                personal_code SERIAL PRIMARY KEY,
                username VARCHAR(255) NOT NULL,
                password VARCHAR(255) NOT NULL
        )
        """,
        """ 
            CREATE TABLE bin_status(
                bin_id INTEGER UNIQUE NOT NULL,
                GC_code INTEGER UNIQUE NOT NULL,
                date TIMESTAMP DEFAULT NOW(),
                overfull BOOLEAN NOT NULL DEFAULT 'False',
                PRIMARY KEY(bin_id, GC_code),
                
                CONSTRAINT fk_bin
                    FOREIGN KEY(bin_id)
                        REFERENCES bin(bin_id)
                        ON DELETE SET NULL,
                CONSTRAINT fk_gc
                    FOREIGN KEY(GC_code)
                        REFERENCES gardbage_collector(personal_code)
                        ON DELETE SET NULL
        )
        """
        )

In [63]:
#create the connection with the database
conn = connect(connStr)
cur = conn.cursor()
for command in commands :
    cur.execute(command)
cur.close()
conn.commit()
conn.close()

IMPORT DATA ABOUT THE PA CODE

In [84]:
# import packages
from sqlalchemy import create_engine
import pandas as pd
from flask import g

In [65]:
#setup db connection (generic connection path to be update with your credentials: 'postgresql://user:password@localhost:5432/mydatabase')
engine = create_engine('postgresql://postgres:r3df0x@localhost:5432/binecoDB')

In [66]:
# creating the datafram of the municipalities 
# data obtained from http://lab.comuni-italiani.it/download/comuni.html
# !!NOTE: i'm using the municipality of italy because i can't find a list of australian city id
df_patemp = pd.read_csv("C:/Users/teari/Desktop/BinEco_code/SE4GI/IMPLEMENTATION/data/listacomuni.txt",sep=';')

In [67]:
#df_patemp

In [68]:

df_pa = df_patemp[['Comune', 'Provincia', 'CAP']]
#df_pa

In [69]:
# write the dataframe into postgreSQL
df_pa.to_sql('pa_data', engine, if_exists = 'replace', index=False)

IMPORT DATA FROM EPICOLLECT5

In [70]:
# import packages
import requests
import json
import pandas as pd
import geopandas as gpd
import sqlalchemy as sqlA
import geoalchemy as geoA
import psycoppg2

ModuleNotFoundError: No module named 'geoalchemy'

In [71]:
# send the request
response = requests.get('https://five.epicollect.net/api/export/entries/bineco-web-application')

In [72]:
raw_data = response.text

In [73]:
# parse the raw text response 
data = json.loads(raw_data)

In [74]:
# from JSON to Pandas DataFrame
data_df = pd.json_normalize(data['data']['entries'])
len(data_df) # for a good plot it's better to extract more then 50 lines
#data_df

50

In [75]:
# from Pandas DataFrame to GeoPandas GeoDataFrame
#we add a geometry column using the numeric coordinate colums
lon = '3_Position.longitude' #NOTE they are already numeric coordinate columns 
lat = '3_Position.latitude'
data_geodf = gpd.GeoDataFrame(data_df, geometry=gpd.points_from_xy(data_df[lon], data_df[lat]))

In [53]:
#data_geodf

In [78]:
# write the dataframe into postgreSQL
#data_geodf.to_sql('litter', engine, if_exists = 'replace', index=False)

IMPORT DATA ABOUT BINS

In [79]:
# creating the dataframe of the bins
# data obtained from OSM
bin_df = gpd.read_file('C:/Users/teari/Desktop/BinEco_code/SE4GI/IMPLEMENTATION/data/Waste_basket_Cairns.geojson')
bin_df_C = bin_df[['osm_id','geometry']]
bin_df_C['lon'] = bin_df_C['geometry'].x
bin_df_C['lat'] = bin_df_C['geometry'].y
#bindf.to_sql('Cairns_bin', engine, if_exists = 'replace', index=False)

C:\Users\teari\anaconda3\envs\SE_env1\lib\site-packages\geopandas\geodataframe.py:1322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

In [88]:
bin_df

,full_id,osm_id,osm_type,amenity,name,tourism,brand,operator,website,addr:city,...,socket:chademo,socket:chademo:output,socket:type2,socket:type2:output,socket:type2_combo,socket:type2_combo:output,contact:facebook,contact:email,contact:phone,geometry
0,n6593149355,6593149355,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.70351 -16.88450)
1,n6593149350,6593149350,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.70280 -16.88481)
2,n6593149356,6593149356,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.70364 -16.88445)
3,n6081366312,6081366312,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.81168 -16.90762)
4,n6600117486,6600117486,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.97127 -16.75964)
5,n6600108483,6600108483,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.97140 -16.75972)
6,n6600117507,6600117507,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.97211 -16.75831)
7,n6600117487,6600117487,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.97146 -16.75940)
8,n6221607921,6221607921,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.97296 -16.75805)
9,n4714607894,4714607894,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.67810 -16.96310)
10,n6600108455,6600108455,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.97201 -16.76012)
11,n4714605793,4714605793,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.67658 -16.96458)
12,n6600117533,6600117533,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.97530 -16.75929)
13,n6600117536,6600117536,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.97474 -16.75896)
14,n4714605497,4714605497,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.67568 -16.96474)
15,n6600117515,6600117515,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.97239 -16.75803)
16,n4714606194,4714606194,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.67930 -16.96228)
17,n6600117525,6600117525,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.97622 -16.76050)
18,n6600117553,6600117553,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.97152 -16.75897)
19,n4714605794,4714605794,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.67684 -16.96425)
20,n4714605892,4714605892,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.67745 -16.96348)
21,n6600117541,6600117541,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.97359 -16.75861)
22,n4714605891,4714605891,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.67697 -16.96396)
23,n6600117550,6600117550,node,waste_basket,,,,,,,...,,,,,,,,,,POINT (145.97254 -16.75878)

In [80]:
import psycopg2 as pg2
from shapely.wkb import dumps as wkb_dumps
import geopandas as gpd


# Copy the dataframe to keep the original intact
insert_gdf = bin_df_C.copy()

# Make a new field containing the WKB dumped from the geometry column, then turn it into a regular 
insert_gdf["geom_wkb"] = insert_gdf["geometry"].apply(lambda x: wkb_dumps(x))

In [89]:
insert_query = """
    INSERT INTO bin (bin_id,lon,lat, geom)
    VALUES (%(full_id)s,%(lon)s,%(lat)s, ST_GeomFromWKB(%(geom_wkb)s));
"""
params_list = [
    {
        "full_id": i,
        "lon": row["lon"],
        "lat": row["lat"],
        "geom_wkb": row["geom_wkb"]
    } for i, row in insert_gdf.iterrows()
]

In [90]:
#params_list

In [91]:
# Connect to the database and make a cursor
conn = conn = connect("dbname=binecoDB user=postgres password=r3df0x")
cur = conn.cursor()

# Iterate through the list of execution parameters and apply them to an execution of the insert query
for params in params_list:
    cur.execute(insert_query, params)
conn.commit()